body{
  background-image: black;
}


.div{

width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.login{
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  position: relative;

}